In [1]:
from sklearn.datasets import fetch_california_housing
import pandas as pd

In [2]:
data = fetch_california_housing()

In [3]:
df = pd.DataFrame(data['data'], columns=data['feature_names'])
df['Target'] = data['target']

In [4]:
from sklearn.datasets import fetch_california_housing
import pandas as pd

# Fetching the California Housing dataset
data = fetch_california_housing()

# Converting it into a pandas DataFrame
df = pd.DataFrame(data['data'], columns=data['feature_names'])
df['Target'] = data['target']

# Displaying the first few rows of the DataFrame
df.head

<bound method NDFrame.head of        MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85
...       ...       ...       ...        ...         ...       ...       ...
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

       Longitude  Target
0        -122.23   4.526
1        -122.22   3.585
2        -122.24   3.521
3        -122.25   3.413
4        -122.25   3.422
...          ...     ...
20635    -121.09   0.781
20636    -121.21   0.771
20637    -121.22   0.923
20638    -121.32   0.847
20639    -121.24   0.894

[20640 rows x 9 columns]>

In [5]:
df = pd.DataFrame(data['data'], columns=data['feature_names'])
df['Target'] = data['target']

In [6]:
import pandas as pd

# Since I cannot directly download files from external links, 
# I will simulate this process by creating a small snippet of the dataset manually.

# Sample data simulating the 'chipo' dataset
data = {
    "order_id": [1, 1, 1, 1, 2, 2, 3, 3, 4, 4],
    "quantity": [1, 1, 1, 1, 2, 1, 1, 1, 1, 1],
    "item_name": [
        "Chips and Fresh Tomato Salsa", "Izze", "Nantucket Nectar", "Chips and Tomatillo-Green Chili Salsa",
        "Chicken Bowl", "Side of Chips", "Steak Burrito", "Steak Soft Tacos",
        "Steak Burrito", "Chips and Guacamole"
    ],
    "choice_description": [
        "", "[Clementine]", "[Apple]", "", "[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",
        "", "[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]",
        "[Tomatillo Green Chili Salsa, [Pinto Beans, Cheese, Sour Cream, Lettuce]]",
        "[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]", ""
    ],
    "item_price": ["$2.39 ", "$3.39 ", "$3.39 ", "$2.39 ", "$16.98 ", "$1.69 ", "$11.75 ", "$9.25 ", "$9.25 ", "$4.45 "]
}

# Creating the DataFrame
chipo = pd.DataFrame(data)

# Displaying the first 10 rows
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,2,1,Side of Chips,,$1.69
6,3,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$11.75
7,3,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
8,4,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
9,4,1,Chips and Guacamole,,$4.45